*.iml
playing2learn/local.properties
playing2learn/.idea/caches
playing2learn/.idea/libraries
playing2learn/.idea/modules.xml
playing2learn/.idea/workspace.xml
playing2learn/.idea/navEditor.xml
playing2learn/.idea/assetWizardSettings.xml
playing2learn/.DS_Store
playing2learn/build
playing2learn/captures
playing2learn/.externalNativeBuild

